.closedsidepanel, .opensidepanel  {
  width: 0%;
  height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: #fff;
  transition: 0.5s;
  color: #111;
  overflow-x: hidden;
  border-left: 1px solid #EBC26F;
}

.opensidepanel  {
  width: 30%;
}

.closebtn {
  color: #818181;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 46px;
  background-color: #2a2a2a;
  border: none;
}
  
.closebtn:hover {
  color: #EBC26F;
}
  
.cart-header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    color: #fff;
    padding: 0 2rem;
}

.cartLogo {
  height: 4.5rem;
  width: 4.5rem;
  margin: 0 1rem 0 0;
  border: 0.5px solid #EBC26F;
  border-radius: 50%;
}

.cart-heading {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.cart-container {
  padding: 2rem;
  height: 80vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.cart-items {
  border-bottom: 1px solid #EBC26F;
  display: flex;
  height: 9rem;
  width: 100%;
}

.cart-items:nth-of-type(1) {
  border-top: 1px solid #EBC26F;
}

.cart-img-container {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cart-item-img {
  height: 8rem;
  width: 8rem;
}

.cart-item {
  display: grid;
  width: 65%;
}

.cart-item-text {
  color: #111;
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.cart-item-text:nth-of-type(2) {
  font-size: 1.75rem;
  font-weight: 600;
  align-items: flex-start;
}

.deleteItemBtn {
  border-radius: 50%;
  border: none;
  background-color: #111;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  position: absolute;
  top: 3.75rem;
  left: 0.25rem;
}

.deleteItemBtn:hover {
  background-color: #c34747;
}

.checkout {
  height: 10vh;
  width: 100%;
  display: grid;
  padding: 1rem;
  background-color: #f0ecec;
  /* position: sticky;
  bottom: 0;
  right: 0; */
}

.total-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
}

.price {
  font-size: 1.8rem;
  font-weight: 700;
}

.price:nth-of-type(2) {
  color: #c34747;
  font-weight: 700;
  font-size: 2rem;
}

.checkoutBtn {
  background-color: #77A47E;
  border: 0.5px solid #77A47E;
  border-radius: 4px;
  color: white;
  font-size: 1.8rem;
  height: 4rem;
  width: 90%;
  margin: 0 auto;
}

.checkoutBtn:hover {
  background-color: #477a4e;
}

@media only screen and (max-width: 991px) {
  .opensidepanel  {
    width: 100%;
  }
}