.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 2rem 0 ;
  overflow-x: auto;
  overflow-y: hidden;
  height: 18rem;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.category {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 17px;
  box-sizing: content-box;
}

.category p{
  height: 2rem;
  padding: 1rem;
}

.category img {
  height: 100%;
  min-width: 13rem;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

.category img:hover {
  filter: brightness(40%);
  transition: all 0.5s ease;
}

@media only screen and (min-width: 768px) {
  .category-container {
    height: 20rem
  }
  .category img {
    min-width: 17rem;
  }
}
@media only screen and (min-width: 1020px) {

  .category-container {
    margin: 2rem 5rem;
  }

  .category img {
    max-width: 16rem;
  }
}