.black-banner {
  width: 100%;
  height: 22rem;
  overflow: hidden;
  background-image: url('../imgs/blackBanner.png');
  background-size:contain;
}

.product-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 70vw;
  margin: 0 auto;
  position: relative;
}

.product-visuals {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-visuals img {
  width: 60rem;
  height: 60rem;
  border: 2px solid #EBC26F;
}

.product-visuals .mobile-title {
  display: none;
  text-align: center;
}

.product-details {
  text-align: center;
  margin: 1rem 0;
  text-align: center;
}

.product-details h4 {
  font-weight: bold;
  color: red;
  font-size: 3rem;
}

.product-actions {
  width: 100%;
  padding: 1rem;
  font-size: 2.3rem;
  display: inline-flex;
  justify-content: center;
}

.quantity-selector {
  font-size: 1.5rem;
}

.product-actions button,
.product-details button {
  background-color: #77A47E;
  border: none;
  color: #fff;
  font-size: 1.75rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-left: 1rem;
  width: 15rem;
}

.product-actions button:hover,
.product-details .button:hover  {
  background-color: #456b4b;
}

.login-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.product-details .login-message {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.item-added {
  font-weight: 700;
  font-size: 1.5rem;
  color: #456b4b
}

@media screen and (max-width: 1020px)  {
  .black-banner {
    display: none;
  }
  .product-visuals {
    display: grid;
  }
  .product-visuals .mobile-title {
    display: block;
    text-align: center;
  }
  .product-details .desktop-title {
    display: none;
  }
  .product-visuals img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1020px)  {
 
  .product-container  {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-top: 10rem;
    width: 70vw;
    max-width: 70vw;
  } 

  .product-visuals {
    text-align: center;
  }

  .product-visuals h3 {
    font-size: 4rem;
    border: #456b4b 1px solid;
  }

  .product-details {
    justify-content: center;
    margin: 0 3rem;
    padding-top: 5rem
  }

  .product-details h4 {
    font-size: 3rem;
    margin: 5rem 0 ;
  }

  .product-details p {
    font-size: 2rem;
    margin: 2rem auto 3rem auto;
  }

}